<div class="card mt-6">
  <p-carousel [value]="bikes">
    <ng-template let-bike pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="mb-3">

          </div>
          <div>
            <h4 class="mb-1">{{bike.nome}} - {{bike.marca}}</h4>
            <h6 class="mt-0 mb-3">${{bike.preco}}</h6>
            <div class="car-buttons mt-5">
              <a href="{{bike.url}}" class="p-button p-button-rounded mr-2"><i class="pi pi-search"></i></a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
